
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_uLayout.cshtml";
}

<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="Index"><h2>Car Dealer</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Cars">Cars</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="AboutUs">About Us</a>

                            <a class="dropdown-item active" href="Team">Team</a>
                            <a class="dropdown-item" href="Testimonials">Testimonials</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ContactUs">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Team</h1>
                <span>Our professional team members</span>
            </div>
        </div>
    </div>
</div>

<div class="team" style="margin: 0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our team <em>members</em></h2>
                    <span>Suspendisse a ante in neque iaculis lacinia</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/Car/assets/images/team-image-1-646x680.jpg" alt="">
                    <div class="down-content">
                        <h4>William Smith</h4>
                        <span>Co-Founder</span>
                        <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>

                        <p>
                            <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/Car/assets/images/team-image-2-646x680.jpg" alt="">
                    <div class="down-content">
                        <h4>Mary Houston</h4>
                        <span>Chief Marketing Officer</span>
                        <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                        <p>
                            <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/Car/assets/images/team-image-3-646x680.jpg" alt="">
                    <div class="down-content">
                        <h4>John Doe</h4>
                        <span>Financial Analyst</span>
                        <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                        <p>
                            <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

