
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_aLayout.cshtml";
}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="~/Dashboard/Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="~/ManageCategory/AddEditCategory">
                <i class="bi bi-layout-text-window-reverse"></i><span>Manage Category</span>
            </a>
        </li><!-- End Managecategory Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="~/ManageCategory/Category">
                <i class="bi bi-layout-text-window-reverse"></i><span>Category</span>
            </a>
        </li><!-- End Managecategory Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="~/ManageUser/AddEditUser">
                <i class="bi bi-layout-text-window-reverse"></i><span>Manage User</span>
            </a>
        </li><!-- End Manageuser Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" href="~/ManageContact/ContactDetails">
                <i class="bi bi-layout-text-window-reverse"></i><span>Manage ContactDetail</span>
            </a>
        </li><!-- End ManageContactDetail Nav -->
    </ul>

</aside><!-- End Sidebar-->
